extends ../layout.pug
block content
    div(class='m-handle')
        h2(class='m-head') 详情页面
        div(class='f-clearfix')
            div(class='c-view f-float-l')
                embed(src=movie.flash,
                allowFullScreen='true',
                quality='high',
                width='300',
                height='200',
                align='center',
                type='application/x-shockwave-flash')
            ul(class='m-brif f-float-l')
                li 电影名称：#{movie.title}
                li 导演：#{movie.director}
                li 所属国家：#{movie.country}
                li 语言：#{movie.language}
                li 上映年份：#{movie.year}
                li 类型：#{movie.type}
    div(class='m-detail')
        h2(class='m-head') 电影简介
        p= movie.summary
    div(class='m-comment')
        h2(class='m-head') 评论
        div(class='panel-body')
            ul(class='media-list')
                each comment in comments
                    li(class='media')
                        div(class='pull-left')
                            a(href='#comments',class='comment',data-cid=comment._id,data-tid=comment.from._id)
                                img(style='height:50px;width:50px',src='/img/test.jpg')
                        div(class='media-body')
                            p(class='media-heading')= comment.from.name
                            p= comment.content
                            if comment.reply && comment.reply.length >0
                                each reply in comment.reply
                                    div(class='media')
                                        div(class='pull-left')
                                            a(href='#comments',class='comment',data-cid=comment._id,data-tid=reply.from._id)
                                                img(style='height:30px;width:30px',src='/img/test.jpg')
                                        div(class='media-body')
                                            p(class='media-heading')= reply.from.name
                                                span   回复 #{reply.to.name}
                                            p= reply.content
                    hr
        form(method='POST',action='/user/comment' name='comments',id='comments')
            input(type='hidden',name='movie',value=movie._id)
            div(class='form-group')
                textarea(name='content',class='form-control',row='3')
            if(user)
                button(class='btn btn-primary',type='submit') 确定
            else
                a.navbar-link(href='#',data-toggle='modal',data-target='#signinModal') 登录后进行评论
    script(src='/js/detail.js')